@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(201, 13, 13);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.maski {
  /* justify-content: flex-start; */
  /* justify-content: center; */
  font-size: 3rem;
  font-weight: 20 2000;
  font-synthesis-weight: 20 20;
  font-family: inherit;
  color: #000000;

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* background-image: url(https://gifdb.com/images/high/black-background-blue-meteor-shower-96b6ypkabnn7d0jm.gif); */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYhVGM66vN1VunMy0hmlY5fGNH_zr9_44wcBVBME8JVnj3k2561vNi8HJG-QwvnpRUsFA&usqp=CAU);

    /* background-image: url(https://i.pinimg.com/originals/80/f4/b4/80f4b4c09340c2e7c46ca4254a14d9ff.gif); */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFcWoVXdR3nwIYvHx38mgGpWszQ9nfpmGroBmZurzgKRR4EDKCAGWND8VvxOGfeYs9n_w&usqp=CAU); */
    /* background-image: url(https://i.pinimg.com/originals/9e/4c/54/9e4c5447abdeb94e87507ec8bd95d6ff.gif); */
    /* background-image: url(https://i.pinimg.com/originals/23/60/50/2360503f1de2dfdc02c7b538698bca1a.gif); */
    background-size: cover;
    background-position: center;
  }
}

/* .search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  justify-content: flex-end;
  /* padding-top: 50px; */
/* margin-top: 00px; */
/* margin-left: 500px;
} */

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 40px;
  color: black;
}
button {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
}
.search::placeholder {
  color: black;
}

.search:focus {
  outline: none;
  background-color: var(--secondary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 200px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
